<%= render "form" %>

<%= form_for @tweet, url: {action: :update} do |f| %>
<div class = "pageBody-text">
    <p class = "text-area">
        <%= f.label :message, 'ツイート' %>
        <%= f.text_area :message %>
    </p>
    <div class = "text-btn">
        <%= f.submit '更新' %>
    </div>
</div>

<% end %>