<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<% @tweets.each do |tweet| %>

    <div class = "pageBody">
        <p>
    
            <%= tweet.message %>
            <br>
            <%= time_ago_in_words(tweet.created_at) + '前' %>
    
        </p>
        
        <%= link_to '表示', tweet_path(tweet.id) %>
        <%= link_to '編集', edit_tweet_path(tweet.id) %>
        <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
        
        <br>
        <br>
 
    </div>

<% end %>





