<% if @tweet.errors.present? %>
    <h3 class = "pageBody-text">エラーがあります。</h3>
    <ul>
        <% @tweet.errors.full_messages.each do |msg| %>
        <li class = "pageBody-text"><%= msg %></li>
        <% end %>
    </ul>

<% end %>


<%= render "form" %>
<div class = "pageBody-text">
    <%= form_for @tweet, url: {action: :create} do |f| %>

        <p class = "text-area">
            <%= f.label :message, 'ツイート' %>
            <%= f.text_area :message %>
        </p>
        <div class = "text-btn">
            <%= f.submit '投稿' %>
        </div>
    <% end %>
</div>

